@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Web.Models.AccountViewModels
@model LoginViewModel
@*@inject SignInManager<ApplicationUser> SignInManager*@

@{
    Layout = "_Layout";
    ViewData["Title"] = "Log in";
}


<link type="text/css" rel="stylesheet" href="~/css/loginPage.css">

<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
        <form id="loginForm" class="login-form" asp-controller="Account" asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">

            <div class="row">
                <div class="input-field col s12 center">
                    <img src="~/images/icon/logo.png" alt="" class="circle responsive-img valign profile-image-login">
                    <p class="center login-form-text">Log into the Solution1</p>
                </div>
            </div>

            <div class="row margin">
                <div class="input-field col">
                    <i class="material-icons prefix">perm_identity</i>
                    <label asp-for="Username" class="center-align">Username</label>
                    <input asp-for="Username" data-error=".errorTxt1">
                    <span asp-validation-for="Username" class="text-danger"></span>
                    <div class="errorTxt1 righted"></div>
                </div>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <label asp-for="Password" class="center-align">Password</label>
                    <input asp-for="Password" data-error=".errorTxt2">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="errorTxt2 righted"></div>
                </div>
            </div>

            <div class="row">
                <div class="input-field  col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12 red darken-2">Login</button>
                </div>
               
            </div>


        </form>
    </div>
</div>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <!--Import script for this page-->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/js/loginPage.js"></script>
}