@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Marks";
}

<table class="table table-condensed table-hover">
    <tr>
        <th>
            Course
        </th>
        <th>
            Module
        </th>
        <th>
            Value
        </th>
    </tr>
    @{
        var marks = ViewBag.Marks as List<Dictionary<string,string>>;
        foreach (var mark in marks)
        {
            <tr>
                <td>
                    <p class="login-form-text" style="font-size:100%;"> @mark["CourseName"] </p>
                </td>
                <td>
                    <p class="login-form-text" style="font-size:100%;"> @mark["ModuleName"] </p>
                </td>
                <td>
                    <p class="login-form-text" style="font-size:100%;"> @mark["Value"] </p>
                </td>
            </tr>
        }
    }
</table>  