@using Web.Models.MossViewModel
@model SendRequestViewModel

@{
    ViewData["Title"] = "Moss";
}


<h3>@ViewData["Response"]</h3>
<h3>@ViewData["Exception"]</h3>
<h3>@ViewData["ExceptionM"]</h3>

@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Moss Controller";
}


<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Moss" asp-action="SendRequest" method="post" class="form-horizontal">
                <input type="hidden" name="mid" value="@ViewBag.moduleId" />

                <div class="form-group">
                    <label asp-for="UserId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="UserId" value="994347907" class="form-control" />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Language" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Language">
                            <option value="c">c</option>
                            <option value="cc">c++</option>
                            <option value="csharp">csharp</option>
                            <option value="java">java</option>
                            <option value="javascript">javascript</option>
                            <option value="pascal">pascal</option>
                            <option value="ada">ada</option>
                            <option value="ml">ml</option>
                            <option value="lisp">lisp</option>
                            <option value="scheme">scheme</option>
                            <option value="haskell">haskell</option>
                            <option value="fortran">fortran</option>
                            <option value="ascii">ascii</option>
                            <option value="vhdl">vhdl</option>
                            <option value="matlab">matlab</option>
                            <option value="perl">perl</option>
                            <option value="python">python</option>
                            <option value="mips">mips</option>
                            <option value="prolog">prolog</option>
                            <option value="spice">spice</option>
                            <option value="modula2">modula2</option>
                            <option value="a8086">a8086</option>
                            <option value="plsql">plsql</option>                                
                        </select>
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Comments" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Comments" class="form-control"  />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="MaxMatches" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="MaxMatches" class="form-control" value="3" />
                        <span asp-validation-for="MaxMatches" class="text-danger"></span>
                    </div>
                </div>

                <div class="row margin">
                    <div class="col s12">
                        <input asp-for="IsDirectoryMode" />
                        <label asp-for="IsDirectoryMode"></label>
                    </div>
                </div>

                <div class="row margin">
                    <div class="col s12">
                        <input asp-for="IsBetaRequest" />
                        <label asp-for="IsBetaRequest"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NumberOfResultsToShow" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NumberOfResultsToShow" class="form-control" value="250" />
                        <span asp-validation-for="NumberOfResultsToShow" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Send</button>
                    </div>
                </div>

            </form>
        </section>
    </div>
</div>