
@model Web.Models.ModuleViewModels.CreateModuleViewModel

@{
    ViewData["Title"] = "Create Module";
    Layout = "_HomeLayout";
}

@section styles
{
    <link type="text/css" rel="stylesheet" href="~/css/dropify.css">
}


<div class="row">
    <form id="createCourseForm" class="col s12 m8 offset-m2" asp-controller="Module" asp-action="CreateModule" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="input-field col s12 center">
                <img src="~/images/icon/logo.png" alt="" class="circle responsive-img valign profile-image-login">
                <p class="center login-form-text">Create a new Module</p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <span class="red-text center-align">
                    @Html.ValidationSummary(excludePropertyErrors: true)
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col s11 right" style="margin-top: 10px;">
                <i class="mdi-av-my-library-add"></i>
                <label asp-for="CourseId" class="center-align"></label>
                @Html.DropDownList("CourseId", (SelectList)ViewBag.Courses)
                <span asp-validation-for="CourseId" class="red-text"></span>
            </div>
        </div>

        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-grade prefix"></i>
                <label asp-for="Title" class="center-align"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title" class="red-text"></span>
            </div>
        </div>

        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-description prefix"></i>
                <label asp-for="Description" class="center-align"></label>
                <textarea class="materialize-textarea" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="red-text"></span>
            </div>
        </div>

        <div class="row margin">
            <div class="input-field col s12">
                <input type="checkbox" id="HasHomework" />
                <label for="HasHomework">Has Homework</label>
                <span asp-validation-for="HasHomework" class="red-text"></span>
            </div>
        </div>

        <div class="row margin">
            <div class="input-field col s12">
                <input type="checkbox" id="HasTest" />
                <label for="HasTest">Has Test</label>
                <span asp-validation-for="HasTest" class="red-text"></span>
            </div>
        </div>

        <div class="row col s12">
            <div class="col s12 center-align">
                <p>Upload a module. Max size: 128MB</p>
                <input type="file" id="input-file-max-fs" name="file" class="dropify" data-max-file-size="128M" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 offset-s3 center-align">
                <button type="submit" class="btn waves-effect waves-light col s12 red darken-2">Create</button>
            </div>
        </div>

    </form>
</div>
@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <!--Import script for this page-->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
    <script src="~/js/dropify.js"></script>
    <script>

        $('.dropify').dropify();
    </script>
}