@{
    Layout = "_Layout";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/home.css">
    <link type="text/css" rel="stylesheet" href="~/css/site.css">
    @RenderSection("styles", required: false)
}

<!-- START HEADER NAV -->
<header id="header" class="page-topbar">
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper">

                <ul class="left" style="margin-left: 50px;">
                    <li>
                        <a href="/"><h1><strong>Solution1</strong></h1></a>
                    </li>
                </ul>

                <!-- other stuff here. All aligned right. -->
                <ul class="right">
                    <!-- fullscreen mode -->
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                    </li>
                    <!-- Notifications screen -->
                    <li>
                        <a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse tooltipped" data-position="bottom" data-tooltip="Be social!">
                            <i class="mdi-social-whatshot"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- END HEADER NAV -->

<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <!-- The user data atached here -->
                @*@{ await Html.RenderPartialAsync("../Home/Profile"); }*@
                <li id="profiledata" class="user-details cyan darken-2"></li>

                @if(User.IsInRole("Admin"))
                {
                    await Html.RenderPartialAsync("../Home/AdminSideMenu");

                }

                @if (User.IsInRole("Professor") || User.IsInRole("Student"))
                {
                    await Html.RenderPartialAsync("../Home/LeftMenu");
                }
                
                @{ await Html.RenderPartialAsync("../Home/Donate"); }
</ul>
            <!-- Button displayed only on small screens (phones) -->
            <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="material-icons">toc</i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->

        <!-- START RIGHT SIDEBAR NAV-->
        <aside id="right-sidebar-nav">
            <ul id="chat-out" class="side-nav rightside-navigation" style="height: 100%;">
                <li class="li-hover" style="height: 100%;">
                    <ul class="chat-collapsible" data-collapsible="expandable" style="height: 100%;">
                        <li style="height: 100%;">
                            <div class="collapsible-header white-text active" style="background-color: #0097a7;"><i class="mdi-social-whatshot"></i>Be Social!
                            </div>
                            <div class="collapsible-body recent-activity fullo" style="height: 100% !important;">

                                @*<div class="recent-activity-list chat-out-list row" style="height: 50%; padding-top: 5px;">
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fthefunweb07%2F&tabs=timeline&width=300&height=350&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=1706259366298551" width="300" style="height: 100%; overflow: scroll;" frameborder="0" allowTransparency="true"></iframe>
                                </div>*@

                                <!-- Facebook Comments -->
                                @*<div class="recent-activity-list chat-out-list row" style="height: 50%;">
                                    <iframe src='./commsframe.html' frameborder='0' width='300' scrollable="no" style="height: 100%; overflow-x: hidden;"></iframe>
                                </div>*@

                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- END RIGHT SIDEBAR NAV-->

        <!-- START CONTENT -->
        <section id="content">
            <!--START CONTAINER-->
            <div class="container" id="contentContainer">
                @RenderBody()
            </div>
            <!--END CONTAINER-->
        </section>
        <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->

<!-- Floating button for entering the arena -->
@*<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a id="arenaBTN" class="btn-floating btn-large red">
        <i class="large mdi-hardware-security"></i>
    </a>
</div>*@

<!-- The MODAL for course -->
<div class="container" id="modalContainer">
</div>

<div class="container" id="otherModalsContainer">
    <!-- START MODAL EXAMPLE -->
    <div id="luckContent" class="modal modal-fixed-footer modalsize">

        <div class="modal-content">
            <h4 class="cyan-text text-darken-2">Test Your Luck</h4>

            <div class="valign-wrapper" id="diceTower" style="height: 70%; font: normal 400 18px/1 'Calibri', sans-serif; box-sizing: border-box;">

            </div>

        </div>
        
        <!-- Example modal with buttons -->
        <div class="modal-footer">

            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" id="exitLuckButton">Exit</a>
            <a href="#!" class="waves-effect waves-cyan btn-flat" id="rollDicesButton">Roll</a>
        </div>
    </div>
    <!-- END MODAL EXAMPLE -->
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script src="~/js/player.js"></script>
    @RenderSection("scripts", required: false)
}