@using Web.Models.ErrorViewModels
@model ErrorViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Title;
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/home.css">
    <link type="text/css" rel="stylesheet" href="~/css/site.css">
}

<div id="error-page">

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="browser-window">
                <div class="top-bar">
                    <div class="circles">
                        <div id="close-circle" class="circle"></div>
                        <div id="minimize-circle" class="circle"></div>
                        <div id="maximize-circle" class="circle"></div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div id="site-layout-example-top" class="col s12">
                            <p class="flat-text-logo center white-text caption-uppercase">
                            @Model.Title
                            </p>
                        </div>
                        <div id="site-layout-example-center" class="col s12 m12 l12" style="background-color: #26a69a">

                            <div class="row">
                                <h2 class="text-long-shadow col s12">
                                    @if (Model.ErrorCode == null)
                                    {
                                        <span>???</span>
                                    }
                                    else
                                    {
                                        <span>Model.ErrorCode</span>
                                    }
                                </h2>
                                <p class="center white-text col s12">@Model.Description</p>
                            </div>

                            <div class="row center">
                                <a href="@Url.Action("Index", "Home")" class="btn waves-effect waves-light center-align">Homepage</a>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
