@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Homework Download";

    string ModuleId = "1f0b4daa-3a7e-4a94-a5de-9dcf707d9ab0";
}

<h6>@ViewData["Message"]</h6>

<form action = "/Homework/Download"  
      method = "get">
    <input type="hidden" name="mid" value=@ModuleId />
    <input type="submit" value = "Download Homework" />
</form>