@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Homework Upload";
    
    string UserId = "67c99f70-f6af-4f66-bd08-67692b54b430";
    string ModuleId = "1f0b4daa-3a7e-4a94-a5de-9dcf707d9ab0";
}

@section styles
{
    <link type="text/css" rel="stylesheet" href="~/css/dropify.css">
}

<form id="createCourseForm" class="col s12 m8 offset-m2" 
    action = "/Homework/Upload"  
    method = "post"
    enctype="multipart/form-data">
    
    <div class="row col s12">
        <div class="col s12 center-align">
            <p class="center login-form-text" style="font-size:100%;">Upload your code, monkey!</p>
            <input type="file" multiple 
                id="input-file-max-fs" 
                name="files" 
                class="dropify" 
                data-max-file-size="10M" />

            <input type="text" name="obs" placeholder="Share a thought">  
            <input type="hidden" name="uid" value=@UserId />
            <input type="hidden" name="mid" value=@ModuleId /> 
            <input type="submit" class="btn waves-effect waves-light col s12 red darken-2" value="Upload" />         
        </div>
    </div>
</form>

<p class="center login-form-text" style="font-size:100%;">
    @ViewData["Message"]
</p>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <!--Import script for this page-->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
    <script src="~/js/dropify.js"></script>
    <script>
        $('.dropify').dropify();
    </script>
}