@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<li class="no-padding">
    <ul class="collapsible collapsible-accordion">
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan">
                <i class="mdi-file-folder"></i>
                Users
            </a>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a href="@Url.Action("Register", "Account")">Register</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</li>
