@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Home Page";
}

<div class="row col s12" style="height: 100%;">
    
    <div class="row col s12 center-align">
        <h2>Hello there, my friend</h2>
    </div>

    <div class="row col s12 center-align green-text">
        <h6>We know <span class="black-text strong">Gotham</span> needs you.</h6>
    </div>
    <div class ="row col s12 center-align green-text">
        <h6>But you should put things in motion here  now, so please check out that <span class="cyan-text">awesome</span> menu to your left.</h6>
    </div>

</div>