
<!-- The user data / details row -->
<li class="user-details cyan darken-2">
    <div class="row">
        <!-- profile picture -->
        <div class="col col s4 m4 l4">
            <img src="~/images/avatars/defaultPlayer.png" alt="Default Player" class="circle responsive-img valign profile-image" data-pin-nopin="true" style="min-height: 50px;">
        </div>

        <div class="col col s8 m8 l8">
            <!-- Name with dropdown-menu -->
            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn profile-btn-wrapped" href="#" data-activates="profile-dropdown">
                <i class="material-icons">toc</i>
                Default User
            </a>

            <!-- Drop down menu with links to profile -->
            <ul id="profile-dropdown" class="dropdown-content" style="width: 128px; position: absolute; top: 57px; left: 101.234px; opacity: 1; display: none;">
                <li>
                    <a href="#" class="loadProfileButton" profileid="#1">
                        <i class="large material-icons">settings</i>Profile
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/Account/LogOff">
                        <i class="material-icons">settings_power</i>Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</li>