
<div class="container">
    @{
        foreach (var anouncement in Model.Anouncements)
        {
            <div class="recent-activity-list chat-out-list row" style="padding-top: 5px;">
                <div class="col s12 m12">
                    <div class="card  teal lighten-2">
                        <div class="card-content white-text">
                            <span class="card-title">@anouncement.Title</span>
                            <p>
                                @anouncement.Text
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>