@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Anouncements";
}
@model Web.Models.AnouncementViewModel.AnouncementViewModel

<h4>@ViewData["Title"]</h4>
<div class="container">
    @{
        foreach (var anouncement in Model.Anouncements)
        {
            <div class="row">
                <div class="col s12 m6">
                    <div class="card  teal lighten-2">
                        <div class="card-content white-text">
                            <span class="card-title">@anouncement.Title</span>
                            <p>
                                @anouncement.Text
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>